/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

/* Generics */

header{
    background-color: orangered;
    height: 50px;
}

body{
    font-family: sans-serif;
}

/* main */

.container{
    width: 1200px;
    margin: 30px auto;
    background-color: aquamarine;
    height: 800px;
}

.card{
    height: 400px;
    border: 2px dashed black;
    display: inline-block;
    position: relative;
}

img{
    height: 100%;
}

.hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover .hover{
    display: inline;
}

.like:hover{
    color: red;
}

.like{
    background-color: white;
    padding: 9px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.info-content{
    font-weight: bold;
}

.red-price{
    color: red;
}

.delete-price{
    text-decoration-line: line-through;
}

.price > *{
    margin-right: 10px;
}

.flag{
    padding: 4px 6px;
    margin-right: 4px;
}

.flex{
    display: flex;
}


.double-flag{
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 0;

}