/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

/* Generics */

header{
    background-color: orangered;
    height: 50px;
}


/* main */

.container{
    width: 1200px;
    margin: 30px auto;
    background-color: aquamarine;
    height: 800px;
}

.card{
    height: 200px;
    border: 2px dashed black;
    display: inline-block;
    position: relative;
}

img{
    height: 100%;
}

.hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover .hover{
    display: inline;
}

