/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

/* Generics */

header{
    background-color: #FF6900;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

li{
    list-style: none;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}

footer{
    background-color: #1A1A1A;
    color: white;
    margin-top: 30px;
    height: 100px;
}

/* header */

.logo-cntr{
    width: 150px;
}

.logo-header{
    width: 100%;
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-icon > *{
    padding-left: 10px;
}

.header-icon{
    padding-right: 20px;
}

/* main */

.space-to-header{
    margin-top: 120px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    flex-wrap: wrap;
}

.column{
    flex-basis: calc(100% / 3);
    padding-bottom: 30px;
    padding-right: 20px;
}

.card{
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover .hover{
    display: inline;
}

.like:hover{
    color: red;
}

.like{
    font-size: 25px;
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
}

.price > *{
    margin-right: 10px;
}

.flag{
    padding: 4px 6px;
    margin-right: 4px;
}


.double-flag{
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 0;
}

/* Footer */

.container-footer{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-content{
    margin-top: 30px;
}

.bottom-content{
    margin-top: 13px;
}

.footer-icon-content{
    font-size: 18;
}

.footer-legal-content{
    font-size: 15px;
}

/* utility */

.flex{
    display: flex;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.info-content{
    font-weight: bold;
}

.red-price{
    color: red;
}

.delete-price{
    text-decoration-line: line-through;
}
